<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <header th:insert="fragments/navbar.html :: nav-bar"></header>
    <main class="hero">
      <div class="hero-title text-center">
        <p class="h3">Proyecto generado 😁</p>
      </div>
      <a th:href="@{/}">Regesar a la página principal</a>
    </main>
  </body>
</html>
